@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1600px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 5px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-with-background: 4px solid #c9b;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Litir */
  /** Litir með nafni **/
  --color-yellow: #f3dd99;
  --color-white: #fff;
  --color-black: #000;
  --color-purple: #ebd;
  --color-purple-dark: #c9b;
  /** Litir með notkun **/
  --color-background-primary: var(--color-yellow);
  --color-background-secondary: var(--color-purple);
  --color-background-form: var(--color-white);
  --color-border-with-background: var(--color-purple-dark);
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Poppins", arial, helvetica, sans-serif;
  --font-family-heading: "Playfair Display";
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

main > .content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

:root {
  --grid-color: hsla(0deg, 75%, 75%, 25%);
  --grid-repeating-width: calc(100% / var(--columns));
  --grid-column-width: calc((100% / var(--columns)) - var(--gutter));
  --grid-background-width: calc(100% + var(--gutter));
  --grid-background-columns: repeating-linear-gradient(to right,
  var(--grid-color),
  var(--grid-color) var(--grid-column-width),
  transparent var(--grid-column-width),
  transparent var(--grid-repeating-width));
}

html {
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 2 * var(--offset));
  max-width: var(--max-width);
  min-height: 100vh;
  background-image: var(--grid-background-columns);
  background-size: var(--grid-background-width) 100%;
  z-index: 1000;
  pointer-events: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  width: 100%;
  justify-items: center;
  gap: var(--vertical-space);
  min-height: 100vh;
}

@media (width >= 800px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
}
.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (width >= 800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }
  .wrapper .wrapper-nav {
    grid-column: span 2;
  }
  .wrapper .wrapper-main {
    grid-column: span 10;
  }
}
nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--spacing);
  list-style: none;
  margin: auto;
}

.links {
  display: flex;
  margin-left: auto;
  gap: 1rem;
  margin-right: 1rem;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000;
}

@media (max-width: 700px) {
  .links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #333;
    padding: 10px;
  }
}
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 2rem;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 800px;
  background-color: #fafafa;
  overflow: hidden;
}

.text {
  max-width: 45%;
  flex: 1;
  margin-right: 2rem;
}

.text h1 {
  font-size: 56px;
  font-weight: bold;
  margin: 0;
  font-family: "Playfair display", Arial, Helvetica, sans-serif;
  color: #000;
}

.text p {
  color: #5e5b69;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.cta-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #c4a17f; /* Button background color */
  border: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.cta-button span {
  padding-right: 10px;
}

.cta-button:hover {
  background-color: #b08e6f;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .text {
    max-width: 100%;
  }
  .mynd img {
    max-width: 100%;
    margin-top: 20px;
  }
}
.latest-recipe {
  width: 100%;
  max-width: 1600px;
}

html,
input,
select,
button {
  font-family: var(--font-family-base);
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
}

@font-face {
  font-family: Matemasie-Regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Matemasie-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("./fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2");
}
header {
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  width: 100%;
  background-color: var(white);
  max-width: 1600px;
}

.navbar {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.heading > h2 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  width: 100%;
}

@media (min-width: 700px) {
  .card {
    grid-column: span 5;
  }
}
.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;
  border-top-left-radius: var(--border-radius-regular);
  border-top-right-radius: var(--border-radius-regular);
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2);
  background-color: #fff;
}

/**
   * notum nýja selectora! brotið niður
   * .card            <- veljum öll .card
   * :not(            <- nema, við viljum ef _ekki_...
   *   :has(> .image) <- .image sem strangt barn .card
   * )                <- endir á :not()
   * > .content       <- sem er strax barn af .card
   * Þ.e.a.s. fyrir .card sem hefur ekki .image, setja border + radíus á allt .content
   */
.card:not(:has(> .image)) > .content {
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
}

.card > .content > .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
}

.card > .content > .actions {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

.lower-text {
  display: flex;
  margin-right: 1rem;
  justify-content: space-between;
}

.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: end;
  background-color: #fafafa;
  width: 100%;
  margin: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

.cards > .title {
  width: 100%;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #e3cdb1;
}

.cards > .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--vertical-space);
  width: 100%;
  margin: 2rem;
}

.cards > .title > h2 {
  font-family: "Playfair Display";
  color: 128, 128, 128;
  text-align: left;
}

.cards > .content > .read-more {
  margin-left: auto;
}

.takki {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .cards > .content {
    grid-template-columns: repeat(calc(var(--columns) - 2), 1fr);
    grid-template-rows: auto;
  }
}
.newsletter {
  background-color: #000;
  max-width: 1600px;
  height: 15rem;
  display: grid;
  align-items: center;
  justify-content: center;
}

.hlutir {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.ph2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.ph2 > p,
h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.ph2 > p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #e3cdb1;
}

.ph2 > h2 {
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.email > label {
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

input[type=email] {
  border: 0;
  border-bottom: 1px solid #e3cdb1;
  background-color: transparent;
  outline: none;
  width: 300px;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
}

.subscribe {
  display: flex;
  justify-content: center;
  width: 100%;
}

.subscribe > button {
  background-color: transparent;
  border: 1px solid #e3cdb1;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 10px;
}

.subscribe > button > p {
  background-color: transparent;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #e3cdb1;
}

@media (max-width: 700px) {
  .hlutir {
    display: flex;
    flex-direction: column;
  }
  .subscribe > button {
    margin-top: 1rem;
  }
}
.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.linkss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.recipe-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  max-width: 1600px;
}

.ingredients,
.method {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0) 0, 0, 0, 10%;
}

.ingredients h2,
.method h2 {
  font-size: 24px;
  font-weight: bold;
}

.ingredients ul {
  list-style-type: none;
  padding: 0;
}

.ingredients ul li {
  font-size: 18px;
  margin: 5px 0;
}

.method p {
  font-size: 18px;
  margin-bottom: 15px;
}

.difficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 50%;
  align-items: center;
}

.icon {
  object-fit: contain;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
