.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: end;
  background-color: #fafafa;
  width: 100%;
  margin: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

.cards > .title {
  width: 100%;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #e3cdb1;
}

.cards > .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--vertical-space);
  width: 100%;
  margin: 2rem;
}

.cards > .title > h2 {
  font-family: 'Playfair Display';
  color: (128, 128, 128);
  text-align: left;
}

.cards > .content > .read-more {
  margin-left: auto;
}

.takki {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .cards > .content {
    grid-template-columns: repeat(calc(var(--columns) - 2), 1fr);
    grid-template-rows: auto;
  }
}
