.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: end;
  background-color: #fafafa;
  width: 100%;
  margin: 2rem;
  margin-right: 2rem;
  justify-content: center;
}

.cards > .title {
  width: 100%;
  text-align: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #000;
}

.cards > .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--vertical-space);
  width: 100%;
  margin: 2rem;
}

.cards > .content > .read-more {
  margin-left: auto;
}

.takki {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
  .cards > .content {
    grid-template-columns: repeat(calc(var(--columns) - 2), 1fr);
    grid-template-rows: auto;
  }
}

.toppur{
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heading > h2 {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 60px;
}

.heading > p{
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #E3CDB1;
  margin-bottom: 1rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  max-width: 300px;
  width: 100%;
  justify-content: space-evenly;
}

.checkbox > checkbox {
  margin-right: 1rem;
}