header {
    padding: var(--spacing) calc(var(--spacing) * 1.5);
    width: 100%;
    background-color: var(#ffff);
    max-width: 1600px;
    
}

.navbar{
    grid-column:span 12;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 24px;
    font-weight: bold;
}